<html>
<head>
<tittle></title>
<link href="style/css" input type="text/css" value="name/css" >
</head>

<body >
<div>
<h1 align="center"> online login forms</h1>
}</div>
<h2 text-align:center>login quick</h2>
<div>
<table>
<tr>
<td input type="text"  name="name2 "placeholder="email.id">
<textarea rowspan="10"></textarea></td>
</tr>
<tr>
<td input type="text"  name="name1" placeholder="password"> </td>
</tr>
</table>
</div>


<button type="submit" form="form1" value="submit">login</button>


</body>
</html>